body {
	float: left;
	font-family: monospace;
	margin: 0px 0px 0px 5px;
	padding: 0px;
}

div#gametitlerow {
	padding: 5px 0px 5px 0px;
}

span#gametitle {
	font-weight: bold;
	font-size: 14pt;
	margin: 0px;
	padding: 0px;
}

span#gamecolonspace {
	font-weight: bold;
	font-size: 10pt;
	margin: 0px;
	padding: 0px;
}

span#gamecode {
	font-weight: bold;
	font-size: 14pt;
	margin: 0px;
	padding: 0px;
}

div#gameboard {
	float: left;
	clear: both;
}

div#events {
	float: left;
	clear: both;
	margin: 0px;
	padding: 10px 5px;
}

.player_board {
	float: left;
	min-width: 300px;
	margin: 0px 5px 5px 0px;
	padding: 5px;
	border: 2px solid #000000;
}

#current_player {
	border: 2px solid #A0A0E0;
}

.player_name {
	float: left;
	font-weight: bold;
	font-size: 12pt;
}

.player_color {
	float: right;
	width: 20px;
	border: 1px solid #000000;
}

table.player_attrs {
	clear: both;
	float: left;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

table.player_attrs tr {
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
}

table.player_attrs tr td {
	background-color: #FFFFFF;
	margin: 0px;
	padding: 5px 0px 0px 0px;
}

table.player_attrs tr td.entry {
	min-width: 40px;
}

table.player_attrs tr td input {
	width: 100%;
}

table.player_attrs tr td select {
	width: 100%;
}

input#update_button {
	width: 100%;
}

tr#confirm_tr {
	display: none;
}

span.event_player {
	float: left;
	clear: both;
}

span.event_value {
	float: left;
	clear: both;
}

span.updated {
	color: #FF0000 !important;
	font-weight: bold !important;
}

span.not_updated {
	color: #000000 !important;
	font-weight: normal !important;
}
