body {
	float: left;
	font-family: monospace;
	margin: 0px 0px 0px 5px;
	padding: 0px;
}

div#footer {
	clear: both;
	font-size: 8pt;
	text-align: center;
	margin: 10px 0px 0px 0px;
	padding: 2px 0px 2px 0px;
	border-top: 2px solid #000000;
}
