div#msg_box {
	display: none;
	color: #202040;
	padding: 5px;
	background-color: #C0C0F0;
	border-top: 2px solid #202040;
}

div#error_box {
	display: none;
	color: #402020;
	padding: 5px;
	background-color: #F0A0A0;
	border-top: 2px solid #402020;
}

div#main_box {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

a#new_game,
a#new_player,
a#login,
a#observe_game {
	display: block;
	text-align: center;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	font-size: 12pt;
	padding: 10px 0px;
	width: 300px;
	border-top: 2px solid #000000;
}

a#new_game:hover,
a#new_player:hover,
a#login:hover,
a#observe_game:hover {
	background-color: #E0E0E0;
}

div#new_game_inputs,
div#new_player_inputs,
div#login_inputs,
div#observe_game_inputs {
	display: none;
	margin: 0px;
	padding: 0px;
	border-top: 1px solid #000000;
	font-size: 8pt;
}

div#new_game_inputs table,
div#new_player_inputs table,
div#login_inputs table,
div#observe_game_inputs table {
	margin: 2px 0px;
	padding: 0px;
	width: 300px;
}

div#new_game_inputs input,
div#new_game_inputs select,
div#new_player_inputs input,
div#new_player_inputs select,
div#login_inputs input,
div#login_inputs select,
div#observe_game_inputs input,
div#observe_game_inputs select {
	float: right;
	height: 20px;
	width: 100px;
	margin: 0px;
	padding: 0px;
	margin-left: auto;
}

input.submit {
	width: 100% !important;
}

div#footer {
	margin: 0px !important;
}

tr#color_id_row,
tr#template_id_row {
	display: none;
}
